USE [master]
GO
/****** Object:  Database [sozlukAppDB]    Script Date: 13.05.2022 10:44:13 ******/
CREATE DATABASE [sozlukAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sozlukAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sozlukAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sozlukAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sozlukAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sozlukAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sozlukAppDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13.05.2022 10:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sozlukTabloes]    Script Date: 13.05.2022 10:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sozlukTabloes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrKelime] [nvarchar](max) NULL,
	[IngKelime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.sozlukTabloes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sozlukTabloes] ON 

INSERT [dbo].[sozlukTabloes] ([Id], [TrKelime], [IngKelime]) VALUES (2, N'araba araç otomobil', N'car vehicle')
INSERT [dbo].[sozlukTabloes] ([Id], [TrKelime], [IngKelime]) VALUES (3, N'ev daire', N'house home')
INSERT [dbo].[sozlukTabloes] ([Id], [TrKelime], [IngKelime]) VALUES (5, N'keçi', N'goat')
SET IDENTITY_INSERT [dbo].[sozlukTabloes] OFF
GO
USE [master]
GO
